.iconBadge{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: darkred;
    color: #fff;
    font-size: 10px;
    top: -8px;
    right: 0%;
}
.badgeContainer{
    position: relative;
    cursor: pointer;
    padding:1px 1px 0 1px;
}
.badgeContainer:hover{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}